<%if @ticket.new? %>
    <div class="row">
        <div class="col-md-3 pull-right">     
              <div class="btn-group">
                  <button type="button" class="btn btn-success" id='agent_assign_ticket' ticketid="<%=@ticket.id%>" >Assign Ticket</button>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><%= link_to "Placeholder" , '#', method:  :get, remote:true , id:""%></li>
                </ul>
              </div>

        </div>

    </div>
<%elsif @ticket.open?  %>
    <div class="row">
             <div class="col-md-3 pull-right">     
              <div class="btn-group">
                  <button type="button" class="btn btn-success" id='agent_close_ticket' ticketid="<%=@ticket.id%>">Close Ticket</button>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="btn btn-success" id='agent_assign_ticket' ticketid="<%=@ticket.id%>" >Assign Ticket</button></li>
                </ul>
              </div>

          </div>

        </div>

    </div>
<%end%>


            <div class="container hide" id="agentassignarea">
                  <div class="row">
                    <div class="col-sm-6">
                      <%= form_for(:info, url: agent_assign_ticket_path(id: @ticket.id),remote:true) do |f| %>
                          <%=   f.text_field :agent_name ,placeholder:"Agent Name", title:"Please type agent Name", 
                          class: 'form-control',id:"agent_picker"%>

                          <%=   f.submit 'Assign', class: 'finish btn btn-primary'%>
                        <% end%>
                    </div>    

                  </div>
                </div>

  <script type="text/javascript">
    <% if @agent_list && @agent_list.length>0%>
        var agents="<%=@agent_list.join(",")%>";
        var availableTags =  agents.split(",");


$( "#agent_picker" ).autocomplete({
      source: availableTags,zindex:30
    });
    <%end%>
  </script>
