<%if action=="create"%>
<div class="container">
    <div class="row">
        <div id="">
            <%= form_for(:data, url: add_issue_path,remote:true) do |f| %>
                <%= f.text_field :heading, class:"form-control",placeholder:"Enter  Heading",id:"issue_heading"%>

                <%= f.text_area :content, class:"form-control",placeholder:"Issue Description",data:{provide:"markdown"},:size => "100x10" ,id:"issue_editor"%>

                <%= f.submit 'Save', class: 'btn btn-primary'%>
            <% end%>
        </div>
    </div>

</div>
<script>
$(document).ready(
  function () {
     
        $('#issue_editor').markdown({autofocus:false,savable:false});
  }

);
</script>
<%elsif action=="created" %>
    <div class="[ panel panel-default ] panel-google-plus ">
                   <div class="panel-google-plus-tags" id="">
                       <%tag='Todo'%>
                    <ul>
                        <li><%=tag%></li>                       
                    </ul>
                </div>
        <h3>Issue created</h3>      

        <div class="panel-heading"><h2><%=@ticket.heading%></h2>
        </div>
        <div class="panel-body " id="">
                <div class="row">
                    <div class="">
                        <%=@ticket_data.content.html_safe%>
                    </div>

			     </div>
        </div>

    </div>
   
<%end%>