<%if @success==false%>
<p>You dont have access to see this</p>
<%else%>
    <%if current_user.user?%>
       <%= render  :partial => 'issues/user_buttons'%>

    <%else%>
       <%= render  :partial => 'issues/agent_buttons'%>
    <%end%>
     <div class="col-md-9">
            <div class="detailBox">
                <div class="titleBox">
                  <label><h4><%=@ticket.heading%></h4></label>
                </div>
                <div class="commentBox">
                    <div class="post_content_actual">
                    	<%=@ticketdata.content.html_safe%>
                    </div>

                </div>

                <div class="actionBox">

                    <ul class="commentList">
                        <% @comments && @comments.each do |comment| %>
                               <%= render  :partial => 'issues/issue_comment',locals:{comment:comment}%>

                        <%end%>


                    </ul>



                        <div class="row">
                            <%= form_for(:comm, url: add_issue_comment_path(id: @ticket.id),remote:true) do |f| %>
                                <div class="col-md-9">
                                    <%=     f.text_area :content, id:'comment_area',class:"form-control",placeholder:"Reply to this conversation" %>

                                     <%=     f.submit 'Submit', class: 'btn btn-primary'%>

                                </div>


                          <% end%>
                        </div>








                </div>

            </div>
    </div>
<%end%>
<script>

$(document).ready(
  function () {
     
        $('#comment_area').markdown({autofocus:false,savable:false});
  }

);
</script>