<li id="issue_comments">

	 <div class="commenterImage">
		<%user=@user_map[ comment.user_id]%>
		<%= image_tag( user.get_profile_pic , style:"width: 30px; height: 40px;") %>

	</div>
	<div class="commentText">
		<h4><%=user.username%> : </h4><p class=""><%=comment.comment.html_safe%></p> <span class="date sub-text">on <%=comment.created_at%></span>

	</div>
</li>
