<%if @ticket.new? %>
    <div class="row">
        <div class="col-md-3 pull-right">     
              <div class="btn-group">
                  <button type="button" class="btn btn-success" id='user_close_ticket' ticketid="<%=@ticket.id%>" >Close Ticket</button>

              </div>

        </div>

    </div>
<%elsif @ticket.open?  %>
    <div class="row">
             <div class="col-md-3 pull-right">     
              <div class="btn-group">
                  <button type="button" class="btn btn-success" id='user_close_ticket' ticketid="<%=@ticket.id%>">Close Ticket</button>
 
              </div>

          </div>

        </div>

    </div>
<%else%>

    <div class="row">
        <div class="col-md-3 pull-right">     

              <div class="btn-group">
                  <button type="button" class="btn btn-success" id='user_reopen_ticket' ticketid="<%=@ticket.id%>">Reopen Ticket</button>

              </div>

        </div>

    </div>
<%end%>
