<%if @type=="add_issue_view"%> 
    $('#post_area').html("<%= escape_javascript (render  :partial => 'issues/create_issue',locals:{action:'create'} )  %>");

<%elsif @type=="add_issue"%> 
    $('#post_area').html("<%= escape_javascript (render  :partial => 'issues/create_issue',locals:{action:'created'} )  %>");
<%elsif @type=="add_issue_comment"%> 
    $('.commentList').append("<%= escape_javascript (render  :partial => 'issues/issue_comment',locals:{comment:@comment} )  %>");
	$('#comment_area').val("");
<%elsif @type=="open_issue"%> 
    $('.post_area2').html("<%= escape_javascript (render  :partial => 'issues/issue' )  %>");

<%end%>
