<div class="landingpage">
    
    <section class="jumbotron text-xs-center" >
        <div class="container">
                <h1 class="jumbotron-heading">Best support software</h1>
                <p class="lead text-muted">Raise service tickets to solve your issues..</p>
                <div>
                    <a href="#user_login_holder" class="btn btn-info show_signuplink">Join</a>
                    <a href="#user_login_holder" class="btn btn-secondary show_loginlink">Sing In</a>
                </div>




        </div>
    </section>


    <div class="album text-muted">
        <div class="container">

            <div class="row">
                <div class="card">
                    <img src="assets/a1.jpg" alt="">
                    <p class="card-text">Log ticket</p>
                </div>
                <div class="card">
                    <img src="assets/a2.png" alt="">
                    <p class="card-text">Wait to know status</p>
                </div>
                <div class="card">
                    <img src="assets/a3.png" alt="pic3">
                    <p class="card-text">Be happy once done</p>
                </div>
            </div>

        </div>
    </div>

    <div id="login_snippet_holder" class="hide">
                     <%=render  :partial => 'users/login' %>
    </div>
    <div id="signup_snippet_holder" class="hide">
                     <%=render  :partial => 'users/signup' %>
    </div>
    <section class="video-tutorial">
            <!--container start-->
            <div class="container" id="user_login_holder">
                     <%=render  :partial => 'users/login' %>

            </div>
            
    </section>

</div>


    <script type="text/javascript">
        $(document).on("click",".show_loginlink",function(){
            $("#user_login_holder").html($("#login_snippet_holder").html())
                
        });
        $(document).on("click",".show_signuplink",function(){
            $("#user_login_holder").html($("#signup_snippet_holder").html())
                
        });

    
    </script>