<div class="login-bg">
    <div class="container">
        <div class="form-wrapper">
        <%= form_for(:session, url: user_login_path,html:{class:"form-signin wow fadeInUp"}) do |f| %>
                <h2 class="form-signin-heading">sign in now</h2>
                <div class="login-wrap">
                    <%=     f.text_field :username,placeholder:"User ID", class:"form-control" ,autofocus:true%>
                    <%=     f.password_field :password,placeholder:"Password", class:"form-control"%>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Remember me
                        <span class="pull-right">
                            <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                        </span>
                    </label>
                    <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>

                    <p>or you can sign in via social network</p>
                    <div class="login-social-link">
                        <a href="index.html" class="facebook">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </a>
                        <a href="index.html" class="twitter">
                            <i class="fa fa-twitter"></i>
                            Twitter
                        </a>
                    </div>
                    <div class="registration">
                        Don't have an account yet?
                        <a class="show_signuplink" href="#user_login_holder">
                            Create an account
                        </a>
                    </div>

                </div>
        <% end%>


      </div>
    </div>
</div>