                    <div class="registration-bg">
                        <div class="container">

                            <%= form_for(@user,html:{class:"form-signin wow fadeInUp"}) do |f| %>
                                <h2 class="form-signin-heading">Register now</h2>
                                <div class="login-wrap">
                                    <p>Enter personal details</p>
                                      <%=   f.text_field :username, class:"form-control", placeholder: :username%>
                                    <%=   f.email_field :email, class:"form-control", placeholder: :emailid%>
                                    <%=   f.password_field :password, class:"form-control", placeholder: :password%>
                                    <%=   f.password_field :password_confirmation, class:"form-control", placeholder: "Confirm Password"%>
                                    <label class="checkbox">
                                        <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
                                    </label>
                                    <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

                                    <div class="registration">
                                        Already Registered ?
                                        <a class="show_loginlink" href="#user_login_holder">
                                            Login
                                        </a>
                                    </div>
                                </div>
                            <% end%>

                        </div>
                     </div>