//CSS is not my own and  has been extracted from a bootstrap website

@import "bootstrap-sprockets";
@import "bootstrap";

html{
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}
section {
	overflow: auto;
}
textarea {
	resize: vertical;
}
.center {
	text-align: center;
}
.center h1 {
	margin-bottom: 10px;

}





p {
	font-size: 1.1em;
	line-height: 1.7em;
}
/* header */
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $gray-light;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}
#logo:hover {
	color: $brand-success;
	text-decoration: none;
}


.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 100% !important;
}


/* footer */
footer {
	margin-top: 400px;
	padding-top: 10px;
	border-top: 1px solid #eaeaea;
	color: $brand-primary;
}
footer a {
	color: $brand-primary;
}
footer a:hover {
	color: #222;
}
footer small {
	float: left;
}
footer ul {
	float: right;
	list-style: none;
}
footer ul li {
	float: left;
	margin-left: 15px;
}

/*SignUp Lesson*/
$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


/* For forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}
input {
	height: auto !important;
}
/* forms */

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}
.field_with_errors {
	@extend .has-error;
		.form-control {
		color: $state-danger-text;
	}
}


.homebuttons{
	
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}


.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}


