//CSS is not my own and  has been extracted from a bootstrap website

.landingpage{


    .about {
      float: left;
      max-width: 30rem;
      margin-right: 3rem;
    }

    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
      margin-bottom: 0;
      background-color: #fff;
      background-image: url('banjo.jpg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: cover;
    }

    .jumbotron-heading {
      font-weight: 300;
    }

    .jumbotron .container {
      max-width: 40rem;
      background: rgba(255,255,255,0.2);
      padding: 2rem;
      color: white;
    }

    .jumbotron p {
        color: white;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .album {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: #f7f7f7;
    }

    .card {
      float: left;
      width: 33.333%;
      padding: .75rem;
      margin-bottom: 2rem;
      border: 0;
    }

    .card > img {
      margin-bottom: .75rem;
      max-width: 100%;
    }

    .card-text {
      font-size: 85%;
    }












    /*registration*/
    .registration-bg {
        margin-top: -40px;
        background-color: #f1f2f7;
    }
    /*login*/
    .login-page {
        min-width: 25%;
        max-width: 25%;
        padding: 35px 30px 30px;
        background: #fcfcfc;
        border: solid 1px #eee;
        margin: 40px auto;
        border: 17px solid #eee;
    }
    .gr-bg {
        background-color: #48cfad;
        margin-top: -40px;
        margin-bottom: -50px;
    }
    #btn-login {
        background-color: #48cfad;
        border: none;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        font-size: 17px;
    }
    #btn-fblogin {
        background-color: #3B5998;
        border: none;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        font-size: 17px;
    }
    .panel {
        z-index: 100;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12);
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
    }
    .panel-heading {
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;
        background-color: #48cfad;
        border: none;
    }
    .panel-info>.panel-heading {
        color: #eee;
        background-color: #48cfad;
    }
    .panel-info>.panel-heading a:hover { color: #eee }
    .panel-body {
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border: 1px solid #eee;
    }
    .form-control {
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }
    .form-control:focus {
        border: none;
        border: 1px solid #d9d9d9;
    }
    .input-group-addon {
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
    }
    #signupbox { margin-bottom: 20px }
    #btn-signup {
        background-color: #48cfad;
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border: none;
        font-size: 17px;
    }
    #signinlink:hover { color: #fff }
    #btn-fbsignup {
        background-color: #3B5998;
        border: none;
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        font-size: 17px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #btn-twsignup {
        background-color: #52D2D8;
        border: none;
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        font-size: 17px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn-lg {
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
    }
    #owl-demo { margin-bottom: 15px }
    #owl-demo .item { margin: 3px }
    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }
    /*login*/
    /*login page*/
    .login-body { background-color: #f1f2f7 }
    .form-signin {
        max-width: 330px;
        margin: 50px auto 50px;
        background: #fff;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
    .form-signin h2.form-signin-heading {
        margin: 0;
        padding: 20px 15px;
        text-align: center;
        background: #48cfad;
        border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
    }
    .form-signin .checkbox { margin-bottom: 14px }
    .form-signin .checkbox {
        font-weight: normal;
        color: #b6b6b6;
        font-weight: 300;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: 38px;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus { z-index: 2 }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
        margin-bottom: 15px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border: 1px solid #eaeaea;
        box-shadow: none;
        font-size: 12px;
    }
    .form-signin .btn-login {
        background: #48cfad;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 20px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .form-signin .btn-login:hover {
        background: #37BC9B;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .form-signin p {
        text-align: center;
        color: #b6b6b6;
        font-size: 16px;
        font-weight: 300;
    }
    .form-signin a { color: #41cac0 }
    .form-signin a:hover { color: #b6b6b6 }
    .login-wrap {
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .login-social-link {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .login-social-link a {
        color: #fff;
        padding: 15px 28px;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
    }
    .login-social-link a:hover { color: #fff }
    .login-social-link a i {
        font-size: 20px;
        padding-right: 10px;
    }
    .login-social-link a.facebook {
        background: #5D9CEC;
        margin-right: 15px;
        border-radius: 3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        margin-bottom: 2px;
        float: left;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .login-social-link a.facebook:hover {
        background: #4A89DC;
        border-radius: 3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .login-social-link a.twitter {
        background: #4FC1E9;
        border-radius: 3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        float: left;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .login-social-link a.twitter:hover {
        background: #3BAFDA;
        border-radius: 3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .form-wrapper { padding-bottom: 70px }
    .login-bg {
        margin-top: -40px;
        margin-bottom: -50px;
        background-color: #f1f2f7;
    }
}