<% @users && @users.each do |user|%>
    <div class="col-md-9">
            <div class="detailBox">
                <div class="titleBox">
                  <label><h4><%=user.username%></h4></label>
                </div>
                <div class="commentBox">
                    <div class="post_content_actual">
                        other infoss
                    </div>

                </div>

                <div class="actionBox">

                 







                </div>

            </div>
    </div>
<%end%>