<%if @updates.nil? or @updates.count==0%>
<p>No Issues to show</p>
<%else%>
	<div class=" " id="issue_area">
	</div>

	<%= javascript_tag "updates = #{@updates.to_json.html_safe};" %>

	<script type="text/jsx">
	console.log(updates);
	//alert(updates);

		var Issues=React.createClass({
			createIssues: function (updates) {
			    return updates.map(this.createIssue);
			  },
			  createIssue: function (update) {
			    return (
	            	<div class="col-md-9">
	                    <div class="detailBox">
	                        <div class="titleBox">
	                        <a href={"/issues/"+update.id}>{update.heading}</a>
	                          <label></label>
	                        </div>
	                        <div class="commentBox">
	                            <div class="post_content_actual">
	                            </div>

	                        </div>
	                        <div class="actionBox">

	                        </div>

	                    </div>
	                </div> );
			  },

			render: function(){
				return (
					      <div className="container">
					        <div className="row">
					          <div className="col-sm-12 ">

					            {this.createIssues(updates)}

					          </div>
					        </div>
					      </div>
					    );
			}
		});

		React.render(<div><Issues /></div>, document.getElementById('issue_area') )

	</script>
<%end%>