
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-3" >
                <div class="home_profile_imagearea">
                      <ul class="list-group">
                        <li class="list-group-item no-padding"><%= image_tag current_user.get_profile_pic ,   class:" img-responsive"%></li>
                        <li id="profile-about" class="list-group-item text-center">
                            <h3><%= current_user.username%></h3>
                        </li>
                      </ul>
                </div>
                <%= render partial: "profiles/ajaxresponse/admin_sidebar" %>


                

            </div>



            <div class="col-sm-9 " id="post_area">
                <h2>Issues</h2>

                <div class="post_area2">
                    
                    <%if @type=="users"%>
                        <%= render partial: "profiles/ajaxresponse/user_list" %>
                    <%else%>
                        <%= render partial: "profiles/ajaxresponse/agent_list" %>

                    <%end%>


               

                </div>  
            </div>

        </div>
    </div>
