<% unless current_user  %>
    <%= render partial: "users/landing_page" %>

<%else%>

    <% if current_user.user?  %>
        <%= render partial: "profiles/ajaxresponse/show_user_profile" %>

    <%elsif current_user.agent?%>
        <%= render partial: "profiles/ajaxresponse/show_agent_profile" %>
    <%elsif current_user.admin?%>
        <%= render partial: "profiles/ajaxresponse/show_admin_profile" %>


    <%end%>


<%end%>

