<div class="profilesidebar">

<%maxgroups=4%>	
    
    <div class="container-fluid main-container">
            <div class="sidebar">
                <div class="row">
                        <!-- Menu -->
                        <div class="side-menu">
                            <nav class="navbar navbar-default" role="navigation">
                                <!-- Main Menu -->
                                <div class="side-menu-container">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><%= link_to( "New Issues", "/users/#{current_user.id}/new" , id:"" ,class:"") %>
                                        </li>

                                        <li class=""><%= link_to( "Open Issues", "/users/#{current_user.id}/open" , id:"" ,class:"") %>
                                        </li>

                                        <li class=""><%= link_to( "Closed Issues", "/users/#{current_user.id}/closed" , id:"" ,class:"") %>
                                        </li>

                                        <li class=""><%= link_to( "All Issues", "/users/#{current_user.id}/all" , id:"" ,class:"") %>
                                        </li>

                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </nav>

                        </div>
                </div>  		
        </div>

    </div><!--Container end-->
</div>
<script>
  $(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
</script>