<% @users && @users.each do |user|%>
    <div class="col-md-9">
            <div class="detailBox">
                <div class="titleBox">
                  <label><h4><%=user.username%></h4></label>
                </div>
                <div class="commentBox">
                <%text='Block'%>
                <%if user.suspended?%>
                    <%text='UnBlock'%>
                <%end%>
                  <button type="button" class="btn btn-success user_suspend" id='user_suspend<%=user.id%>'  userid="<%=user.id%>" ><%=text%></button>


                </div>

                <div class="actionBox">

                 







                </div>

            </div>
    </div>
<%end%>