<footer class="footer">
	<small>
	@Copyright Somename
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
            <li><%= link_to "FAQ", '#' %></li>
		</ul>
	</nav>
</footer>