
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
                <%= link_to "ServiceDesk", root_path, id: "logo" %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </div>
      <div class="collapse navbar-collapse" id="collapse">
        <nav>
          <ul class="nav navbar-nav navbar-right">
                      
                        <li class="active"><%=link_to "Home", '#my_profile_tabcontent' ,"data-toggle"=>"tab",id:"my_profile_tabpane" %></li>

      
                        
                <% if logged_in? %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "Edit Profile", '#' %></li>
                          <li><%= link_to "Settings", '#' %></li>
                          <li><%= link_to "Help", '#' %></li>
                          <li class="divider"></li>
                          <li class="divider"></li>
                          <li><%= link_to "Log out", user_logout_path, method: "delete" %></li>
                        </ul>
                    </li> 
                <%else %>
                     <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Help", '#' %></li>
                            <li class="divider"></li>
                            <li class=""><%=link_to "Players", '#club_tabcontent' ,"data-toggle"=>"tab",id:"club_tabpane" %></li>

                        </ul>
                      </li> 
              <%end%>
          </ul>
        </nav>
      </div>
    </div>
  </header>


<!--  THIS IS CONTENT FOR THE TABS -->
<div class="bs-docs-example">
    <div id="myTabContent" class="tab-content">

      <div class="tab-pane fade in active" id="my_profile_tabcontent">
        <% if logged_in? %>
            <%= render partial: "profiles/ajaxresponse/show_profile" %>
        <%else  %>
            <%@user=User.new%>
          <%= render partial: "users/landing_page" %>
        <%end%>
      </div>  

    </div>
</div>

