<!DOCTYPE html>
<html>
  <head>
    <title>Servicedesk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://fb.me/react-0.14.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>
    
  </head>

<body>

<%= render 'layouts/header'%>

		<%= yield %>
    <%= render 'layouts/common_snippets' %>

		<%= render 'layouts/footer' %>
</body>
</html>
